<% if user_signed_in? %> 
  <div> Welcome <%= current_user.email %> </div> 
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
    <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<h1>Welcome to the Inventroy Manager Application</h1>
<h2>This is a test<h2>
<ul>
    <% @items.each do |item| %>
        <li>
           <a href="/managers/<%= item.id%>">
            <%= item.name %>
           </a>
        </li>
    <% end %>
</ul>

<%= link_to "Add item", new_manager_path%>
